// Laptop Niri Config
input {

    touchpad {
        tap
        natural-scroll
          accel-speed 0.2
          accel-profile "adaptive"
          scroll-method "two-finger"
          disabled-on-external-mouse
    }

    trackpoint {
         accel-speed 0.25
         accel-profile "adaptive"
    }

     warp-mouse-to-focus
     focus-follows-mouse max-scroll-amount="0%"
}

output "HDMI-A-1" {
    mode "1920x1080@60"
    scale 1
    position x=0 y=-1080
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1
    position x=0 y=0
}

layout {
    background-color "transparent"
    gaps 12
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.33333
        proportion 0.66667
    }
    default-column-width {
        proportion 1.0;
    }

    focus-ring {
        width 1.5
        active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

spawn-at-startup "noctalia-shell"

hotkey-overlay {
     skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}

workspace "1" { }
workspace "2" { }
workspace "3" { }
workspace "4" { }

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
//
// window-rule {
//     match app-id=r#"zen$"#
//     draw-border-with-background false
//     geometry-corner-radius 8
//     clip-to-geometry true
//     open-on-workspace "3"
//     open-maximized true
//     opacity 0.95
// }
//
// window-rule {
//     match app-id="feishin"
//     draw-border-with-background false
//     geometry-corner-radius 8
//     clip-to-geometry true
//     open-on-workspace "4"
//     open-maximized true
//     opacity 0.75
// }
//
// window-rule {
//     match app-id="com.libretro.RetroArch"
//     open-floating true
//     default-column-width { fixed 1200; }
//     default-floating-position x=168 y=96 relative-to="top-left"
// }
//
// // Opacity rule
// window-rule {
//     match app-id=r#"Bitwarden$"#
//     match app-id="signal"
//     match app-id="codium"
//     match app-id="com.mitchellh.ghostty"
//     match app-id=r#"nemo$"#
//     opacity 0.85
//     draw-border-with-background false
// }
//
// window-rule {
//     match app-id=r#"^org\.keepassxc\.KeePassXC$"#
//     match app-id=r#"^org\.gnome\.World\.Secrets$"#
//     match app-id=r#"Bitwarden$"#
//     block-out-from "screen-capture"
// }
//
window-rule {
    match app-id=r#"xdg-desktop-portal-gtk$"#
		match app-id=r#"org\.gnome\.FileRoller$"#
    match app-id=r#"nemo$"#
    open-floating true
}
window-rule {
    match app-id="floatterm"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 470; }
    default-floating-position x=0 y=36 relative-to="top"
    draw-border-with-background false
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    // #"System & Overlay"
    Mod+H hotkey-overlay-title="Toggle cheatsheet" { spawn-sh "noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }
    Mod+A repeat=false hotkey-overlay-title="Toggle overview" { toggle-overview; }
    Mod+Space hotkey-overlay-title="Settings app" { spawn-sh "noctalia-shell ipc call settings toggleTab $tab"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Super+Shift+L hotkey-overlay-title="Lock" { spawn-sh "noctalia-shell ipc call lockScreen lock"; }

    // #"Launchers & Panels"
    Mod+S hotkey-overlay-title="Launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Mod+Shift+S hotkey-overlay-title="Toggle right sidebar" { spawn-sh "noctalia-shell ipc call controlCenter toggle"; }
    Mod+D hotkey-overlay-title="Toggle assistant panel" { spawn-sh "noctalia-shell ipc call plugin:assistant-panel toggle"; }
    Mod+V hotkey-overlay-title="Clipboard history" { spawn-sh "noctalia-shell ipc call launcher clipboard"; }
    Mod+Alt+H { spawn-sh "noctalia-shell ipc call notifications toggleHistory"; }
    Mod+Alt+Period hotkey-overlay-title="Emoji >> clipboard" { spawn-sh "noctalia-shell ipc call launcher emoji"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Toggle session menu" { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Shift+M hotkey-overlay-title="Toggle media controls" { spawn-sh "noctalia-shell ipc call plugin togglePanel mediaMini"; }
    Mod+Shift+T hotkey-overlay-title="Toggle wallpaper selecter" { spawn-sh "noctalia-shell ipc call wallpaper toggle"; }
    // #"Applications"
    Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+Shift+Return hotkey-overlay-title="Floating terminal" { spawn "kitty" "--class" "floatterm"; }
    Mod+Shift+B hotkey-overlay-title="Browser" { spawn-sh "google-chrome"; }
    Mod+B { spawn-sh "flatpak run app.zen_browser.zen"; }
    Mod+C hotkey-overlay-title="Code editor" { spawn-sh "cursor-ai"; }
    Mod+Shift+C hotkey-overlay-title="VS Code" { spawn-sh "flatpak run com.visualstudio.code"; }
    Mod+T hotkey-overlay-title="Telegram" { spawn-sh "Telegram"; }
    Mod+N hotkey-overlay-title="Text editor" { spawn-sh "kitty -e nvim"; }
    Mod+Y { spawn-sh "kitty -e yazi"; }
    Mod+E hotkey-overlay-title="File manager" { spawn "nemo" "--class" "fullnmo"; }
    Ctrl+Super+Shift+Alt+W { spawn "libreoffice"; }
    Ctrl+Super+V hotkey-overlay-title="Volume mixer" { spawn-sh "pavucontrol-qt || pavucontrol"; }
    Mod+Ctrl+I hotkey-overlay-title="Settings app" { spawn "systemsettings"; }

    // #"Media & Hardware"
    Ctrl+Alt+Space hotkey-overlay-title="Play/pause media" { spawn-sh "noctalia-shell ipc call media playPause"; }
    Ctrl+Alt+Left { spawn-sh "noctalia-shell ipc call media previous"; }
    Ctrl+Alt+Right { spawn-sh "noctalia-shell ipc call media next"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "noctalia-shell ipc call brightness decrease"; }

    // #"Window Focus"
    Mod+W repeat=false { close-window; }
		Mod+Left  { focus-column-or-monitor-left; }
		Mod+Down  { focus-window-or-workspace-down; }
		Mod+Up    { focus-window-or-workspace-up; }
		Mod+Right { focus-column-or-monitor-right; }
    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // #"Window Move"
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Down { move-window-down; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // #"Workspace Navigation"
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+TouchpadScrollDown cooldown-ms=350 { focus-workspace-down; }
    Mod+TouchpadScrollUp cooldown-ms=350 { focus-workspace-up; }
    Mod+TouchpadScrollRight cooldown-ms=250 { focus-column-right; }
    Mod+TouchpadScrollLeft cooldown-ms=250 { focus-column-left; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Tab { focus-workspace-previous; }

    // #"Send to Workspace"
    Mod+Ctrl+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+U { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+I { move-column-to-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // #"Layout & Size"
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft { move-column-left; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Shift+X { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Alt+V { toggle-window-floating; }
    Mod+Q { toggle-column-tabbed-display; }

    // #"Screenshots & Power"
    Print hotkey-overlay-title="Screenshot >> clipboard" { screenshot; }
    Shift+Print hotkey-overlay-title="Screenshot screen" { screenshot-screen; }
    Alt+Print hotkey-overlay-title="Screenshot window" { screenshot-window; }
    Mod+Shift+E { quit; }
    Shift+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20
    hide-when-typing
    hide-after-inactive-ms 10000
}

layer-rule {
    match namespace="^noctalia-wallpaper-eDP-1"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}

include "./noctalia.kdl"

